<header>
    <nav>
        <div class="container">
            <a href="#" class="logo">M. Mubtasim</a>
            <!-- Hamburger Menu Icon -->
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <!-- Navigation Links -->
            <ul class="nav-links">
                <li><a href="/#about">About</a></li>
                <li><a href="/#skills">Skills</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
            <button class="contact-button">Contact Me</button>
        </div>
    </nav>
</header>